@model proyecto2_1.Models.Documento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Estas seguro de borrar esto?</h3>
<div class="jumbotron">
    <h4>Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_Lanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_Lanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_Paginas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_Paginas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autores.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autores.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Categoría)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Categoría)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idioma1.Idioma1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idioma1.Idioma1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
